# ---------- Project vars
organization  = ""
project_name  = ""
env           = ""

# ---------- Networking
vpc_network           = "10.0.0.0/16"
public_trusted_hosts  = [""]

# ---------- VPN
vpn_peer_ip         = ""
vpn_shared_secret   = ""
vpn_remote_network  = "10.1.0.0/16"

# ---------- Workers
frontend_node_count = 1
backend_node_count  = 1

# ---------- Users
users_devops  = ["test"]