# ---------- Local .terraform directories
**/.terraform/*

# ---------- .tfstate files
*.tfstate
*.tfstate.*
*.swp

# ---------- .tfplan files
*.tfplan
*.tfplan.*

# ---------- .tfvars files
*.tfvars
*.tfvars.json
*.auto.tfvars
*.auto.tfvars.json

# ---------- Log Files
*.log

# Ignore override files as they are usually used to override resources locally and so
# are not checked in
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# ---------- Ignore Credentials
globals/credentials/*
!globals/credentials/README.md

# ---------- Ignore Applications
globals/applications/*
!globals/applications/README.md

# ---------- Ignore Credentials
globals/variables/*
!globals/credentials/README.md